body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(241, 229, 215);
}

header, footer {
    background-color: rgb(184, 237, 172); 
}

header img, footer img {
    width: 40px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*allows for resizing*/
    gap: 15px;
    overflow: hidden;

}

.projects img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    
}

/*FOR THE SELF-MADE MODALS
button {
    background-color: rgb(184,237,172);
    font-family: Verdana;
}

.modal-content {
    background:rgba(184,237,172,0.95);
    width: 50%;
    height: 50%;
    position: fixed;
    top: 25vw;
    left: 25vw;
}

h3 {
    text-align: center;
}

.hide {
    display: none;
}
*/